
<%- include("header") -%>

    <div class="box" id="heading">
        <h1>Today is <%= listItems%> ! </h1>
    </div>
    <div class="box">
        <% for(var i=0;i<newListItem.length;i++) { %>
            <div class="item">
                <input type="checkbox">
                <p><%= newListItem[i] %></p>
            </div>
        <% } %>
        
        <form class="item" action="/" method="post">
            <input type="text" name="newItem" placeholder="New-Item" autocomplete="off"> <%/* autocomple = off mane auto suggestions hobe na */%>
            <button type="submit" name="list" value=<%= listItems %>>+</button>
        </form>
    </div>

<%- include("footer") -%>